@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSansLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansItalic.woff2") format("woff2"), url("../fonts/OpenSansItalic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansSemiBold.woff2") format("woff2"), url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  position: relative;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-darck: #000000;
  --color-Amethyst: #9D5CD0;
  --color-Mine-Shaft: #333333;
  --color-white: #FFFFFF;
  --color-Heliotrope: #C283F3;
  --color-Royal-Purple: #7943A4;
  --color-Biloba-Flower: #D1A9F0;
}

body {
  position: relative;
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.input__reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1630px;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

/* header */

.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}

.header__top {
  background-color: var(--color-darck);
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px 27px 15px;
}

.logo {
  width: 174px;
}

.header__nav-top {
  padding: 7px 72px 0 0;
}

.nav__list-top {
  display: flex;
}

.nav__item-top:not(:last-child) {
  margin-right: 58px;
}

.nav__link-top {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: var(--color-white);
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.nav__link-top:focus {
  outline: 1px solid var(--color-Amethyst);
}

.nav__link-top:hover {
  color: var(--color-Heliotrope);
}

.nav__link-top:active {
  color: var(--color-Royal-Purple);
}

.header__btn {
  position: relative;
  cursor: pointer;
  padding: 7px 0 0 26px;
  border: none;
  color: var(--color-white);
}

.header__btn-entrance {
  padding-left: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: var(--color-white);
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.header__btn-entrance svg {
  transform: translateX(-5px);
}

.header__btn-entrance:focus {
  outline: 2px solid var(--color-Royal-Purple);
}

.header__btn-entrance path {
  fill: currentColor;
}

.header__btn-entrance:hover {
  color: var(--color-Heliotrope);
}

.header__btn:hover .header__btn-entrance {
  color: var(--color-Heliotrope);
}

.header__btn-entrance:active {
  color: var(--color-Amethyst);
}

.header__burger {
  display: none;
}

/* низ навигация*/

.header__bottom {
  background: rgba(0, 0, 0, 0.4);
}

.search-up {
  display: none;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__nav-bottom {
  display: flex;
  align-items: center;
  padding: 0;
  padding: 0 13px;
}

.nav__list-bottom {
  position: relative;
  display: flex;
  margin-right: auto;
}

.nav__bottom-link {
  padding: 9px 9px 12px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-white);
}

.nav__
/* Dropdown Botton */

.dropdown {
  position: relative;
  display: flex;
  transition: opacity .3s ease-in-out;
}

.dropdown:not(:last-child) {
  margin-right: 93px;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 48px;
  background: rgba(0, 0, 0, 0.6);
  min-width: 160px;
  transition: opacity .3s ease-in-out;
}

.show-active {
  visibility: visible;
  opacity: 1;
}

.scroll {
  padding: 40px;
  width: 300px;
  height: 300px;
}

.dropbtn {
  margin: 0;
  padding: 0;
  padding: 26px 1px;
  padding-right: 11px;
  border: none;
  background: transparent;
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.arrow {
  position: relative;
  top: -2px;
  left: 6px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid var(--color-white);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  transition: border-color .3s ease-in-out;
}

.active-btn .arrow {
  top: 1px;
  transform: rotate(225deg);
  transition: rotate .3s ease-in-out;
}

.dropbtn:active {
  outline: 1px solid var(--color-Royal-Purple);
}

.dropbtn:active .arrow {
  border-color: var(--color-Royal-Purple);
}

.dropbtn:hover .arrow {
  border-color: var(--color-Amethyst);
}

.dropbtn:hover {
  color: var(--color-Amethyst);
}

.dropbtn:focus {
  color: var(--color-Royal-Purple);
}

.dropbtn:focus .arrow {
  border-color: var(--color-Royal-Purple);
}

.dropdown-content .nav__bottom-link:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-content .nav__bottom-link {
  color: var(--color-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .nav__bottom-link:hover {
  outline: 1px solid var(--color-Biloba-Flower);
}

.nav__bottom-image-1 {
  background-image: url(../img/header_select-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-2 {
  background-image: url(../img/header_select-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-3 {
  background-image: url(../img/header_select-3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-4 {
  background-image: url(../img/header_select-4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-5 {
  background-image: url(../img/header_select-5.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-6 {
  background-image: url(../img/header_select-6.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-7 {
  background-image: url(../img/header_select-7.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-8 {
  background-image: url(../img/header_select-8.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-9 {
  background-image: url(../img/header_select-9.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-10 {
  background-image: url(../img/header_select-10.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-11 {
  background-image: url(../img/header_select-11.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-12 {
  background-image: url(../img/header_select-12.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-13 {
  background-image: url(../img/header_select-13.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-14 {
  background-image: url(../img/header_select-14.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-15 {
  background-image: url(../img/header_select-15.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-16 {
  background-image: url(../img/header_select-16.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-17 {
  background-image: url(../img/header_select-17.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-18 {
  background-image: url(../img/header_select-18.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-19 {
  background-image: url(../img/header_select-19.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-20 {
  background-image: url(../img/header_select-20.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-link:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.show {
  visibility: visible;
  opacity: 1;
}

/* scroll */

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track.simplebar-vertical {
  top: 10px;
  bottom: 10px;
  right: 17px;
  width: 2px;
  background: white;
}

.simplebar-scrollbar:before {
  left: -2px;
  opacity: 1;
  background-color: var(--color-darck);
  padding-left: 4px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  opacity: 1;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 0;
  padding-top: 6px;
}

.header-search__link {
  width: 28px;
  padding-right: 3px;
  padding-top: 10px;
}

.header-search__icon {
  padding-top: 0px;
  transform: translateY(4px);
  color: var(--color-white);
  transition: color .3s ease-in-out;
}

.header-search__input {
  border-bottom: 2px solid rgba(255, 255, 255, 0.85);
  letter-spacing: 0.1px;
  transition: border .3s ease-in-out, outline .3s ease-in-out;
}

.header-search__input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
}

.header-search__link:focus {
  outline: 2px solid var(--color-Amethyst);
}

.header-search__input:focus {
  outline: 2px solid var(--color-Amethyst);
}

.header-search__input::placeholder {
  transition: color .3s ease-in-out;
}

.header-search__link circle {
  stroke: currentColor;
}

.header-search__link path {
  fill: currentColor;
}

.header__search:hover .header-search__icon {
  color: #9D5CD0;
}

.header__search:hover .header-search__input {
  border-color: #9D5CD0;
}

/* hero */

/* @keyframes anim__hero {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
} */

.hero {
  position: relative;
  width: 100%;
}

.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero__container {
  position: relative;
  z-index: 2;
}

.hero-slider {
  padding-bottom: 142px;
  padding-left: 162px;
  overflow: hidden;
}

/* .swiper-slide-active {
  animation: anim__hero 6s alternate ease-in-out infinite;
} */

.hero-slider {
  background-image: url(../img/hero__slider-1.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/* .hero-slider {
  background-image: url(../img/hero__slider-2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.hero-slider {
  background-image: url(../img/hero__slider-3.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
} */

.hero__title {
  position: relative;
  margin: 0;
  padding-top: 243px;
  width: 50%;
  font-weight: 700;
  font-size: 72px;
  line-height: 81px;
  letter-spacing: -0.4px;
  color: var(--color-white);
}

.hero__descr {
  position: relative;
  width: 33%;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 116px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
}

.hero__btn {
  position: relative;
  outline: none;
  border: none;
  padding: 23px 35px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-Amethyst);
}

.hero__btn:active {
  padding: 20px 32px;
  border: 3px solid var(--color-Biloba-Flower);
}

.hero__btn:hover {
  background: var(--color-Amethyst);
}

.hero__btn:active {
  background: var(--color-Royal-Purple);
}

.hero__input {
  padding: 3px;
}

/* about */

.about {
  padding-top: 800px;
  padding-bottom: 70px;
}

.about__us {
  padding-top: 86px;
  padding-left: 145px;
  width: 1255px;
  max-width: 1255px;
  text-align: left;
}

.about__title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-Mine-Shaft);
}

.about__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-Mine-Shaft);
}

/* Галерея */

.gallery {
  position: relative;
  margin-bottom: 55px;
  background-image: url(../img/bg-gallery.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-container {
  padding: 84px 0 72px 0;
  display: flex;
}

.gallery__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
  padding-left: 14px;
}

.gallery__up-box {
  width: 100%;
  padding-right: 41px;
}

.gallery__title {
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-white);
}

.gallery__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.gallery__acc-title {
  display: flex;
  position: relative;
  padding: 3px 298px 5px 15px;
  margin: 0;
  border: 1px solid var(--color-white);
  border-radius: 6px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.gallery-arrow {
  position: absolute;
  top: 16px;
  left: 375px;
}

.gallery__decr {
  width: 91%;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: .4px;
  color: var(--color-white);
}

.gallery__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-Heliotrope);
}

/* slider gallery */

.gallery__sw {
  padding-bottom: 10px;
}

.gswiper {
  width: 1158px;
  height: 830px;
  padding-top: 21px;
  padding-left: 6px;
  margin-left: auto;
  margin-right: auto;
}

.prev-wrapper {
  display: flex;
  align-items: baseline;
  padding-left: 5px;
  padding-bottom: 29px;
}

.swiper-pagination-fraction {
  position: relative;
  bottom: 0;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: var(--color-white);
}

.swiper-button-next, .swiper-button-prev {
  position: inherit;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #666666;
  color: var(--color-white);
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 12px;
}

.gallery-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background: transparent;
}

/* catalog */

.catalog {}

.container {}

.container-catalog {}

.catalog__wrapper {
  display: flex;
  align-items: center;
}

.gatalog__title {
  padding-top: 17px;
  padding-right: 30px;
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-darck);
}

.catalog__list-tab {
  display: flex;
  padding-top: 24px;
  padding-bottom: 0;
}

.catalog__item-tab {
  width: 30%;
}

.catalog__item-tab:not(:last-child) {
  margin-right: 30px;
}

.catalog__link-tab {
  width: 66px;
  height: 66px;
}

.catalog__icon {
  transform: translateY(2px);
}

.catalog__link-tab .catalog__icon:focus {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
}

.catalog__link-tab .catalog__icon:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
}

.catalog__icon:active {
  border: 2px solid #7943A4;
  box-sizing: border-box;
  border-radius: 23px;
}

.catalog__icon-active {
  width: 66px;
  height: 66px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid var(--color-Royal-Purple);
  box-sizing: border-box;
  transition: border .3s ease-in-out;
}

.catalog__descr {
  width: 67%;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-darck);
}

/* catalog content */

.catalog__content {
  display: flex;
}

.catalog__left {
  width: 47%;
  padding-top: 18px;
}

.catalog__left-img {
  margin-bottom: 27px;
}

.catalog__left-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.4px;
  color: var(--color-darck);
}

.catalog__left-data {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalog__left-descr {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-Mine-Shaft);
}

/* catalog right */

.catalog__right {
  width: 53%;
}

.catalog__right-list {
  padding-left: 46px;
}

.ui-accordion-header {
  padding-top: 41px;
  padding-bottom: 41px;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
}

.ui-accordion-header:nth-child(1) {
  border-top: 1px solid #CACACA;
}

.catalog__right-item {
  position: relative;
}

.catalog__right-title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-Mine-Shaft);
}

.button-accordion {
  position: absolute;
  top: 34px;
  right: 0;
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #ECECEC;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.button-accordion::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 20px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-darck);
  border-width: 0 1px 1px 0;
  transform: rotate( 45deg);
  transition: border-color .3s ease-in-out;
}

.ui-accordion-header-active .button-accordion {
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
}

.catalog__list-wrapper {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;
}

.catalog__list-right {
  display: flex;
  width: 100%;
}

.catalog__item-right:not(:last-child) {
  margin-right: 62px;
}

.catalog__link-right {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-Mine-Shaft);
}

.catalog__right-wrapper {
  display: flex;
}

.catalog__right-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-Mine-Shaft);
}

@media (max-width: 1440px) {
  .nav__item-top:not(:last-child) {
    margin-right: 30px;
  }
  .dropdown:not(:last-child) {
    margin-right: 40px;
  }
  .hero__descr {
    margin: 0;
  }
  .about__us {
    padding-left: 100px;
    padding-right: 15px;
    width: 1100px;
  }
  /* gallery */
  @media (max-width: 1120px) {
    .header__nav-top {
      padding: 7px 5px 0 0;
    }
    .nav__item-top:not(:last-child) {
      margin-right: 12px;
    }
    .dropdown:not(:last-child) {
      margin-right: 15px;
    }
    /* gallery */
  }
  @media (max-width: 1024px) {
    .search--up {
      display: block !important;
    }
    .search-up {
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      padding: 30px 15px 27px 45px;
      background-color: var(--color-darck);
    }
    .search__input {
      width: 89%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    }
    .header__container {
      justify-content: space-between;
      padding-bottom: 25px;
    }
    .header__top {
      position: relative;
    }
    /* burger */
    .header__burger {
      display: block;
      position: relative;
      top: 8px;
      left: 36px;
      margin-right: 231px;
      width: 34px;
      height: 26px;
    }
    .header__burger.open-menu:before {
      top: 14px;
      transform: rotate(45deg);
      z-index: 50;
      transition: transform .3s ease-in-out;
    }
    .header__burger.open-menu span {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    .header__burger.open-menu:after {
      width: 100%;
      bottom: 8px;
      transform: rotate(-45deg);
      z-index: 50;
      transition: transform .3s ease-in-out;
    }
    .header__burger-span {
      background: #ffffff;
      position: absolute;
      width: 80%;
      height: 3px;
      left: 0;
      top: 11px;
    }
    .header__burger:before, .header__burger:after {
      content: "";
      background: #ffffff;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
    }
    .header__burger:before {
      top: 0;
    }
    .header__burger:after {
      width: 70%;
      bottom: 0;
    }
    .nav__list-top {
      position: absolute;
      left: -101%;
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
    .nav__list-top.open-menu {
      flex-direction: column;
      opacity: 1;
      top: 19px;
      left: 0;
      padding-top: 100px;
      padding-left: 54px;
      width: 100%;
      height: 750px;
      background: rgba(0, 0, 0, 0.9);
      z-index: 6;
    }
    .nav__item-top:not(:last-child) {
      padding-bottom: 30px;
    }
    .header__btn {
      opacity: 0;
      left: -101%;
      transition: opacity .3s ease-in-out;
    }
    .header__btn.open-menu {
      opacity: 1;
      position: absolute;
      left: 57px;
      top: 660px;
      padding: 19px 88px 22px 88px;
      border: 2px solid #9D5CD0;
      border-radius: 100px;
      z-index: 6;
    }
    .header__logo {
      width: 235px;
      padding-left: 4px;
    }
    .nav__list-bottom {
      display: none;
    }
    .header__search {
      position: absolute;
      right: 46px;
      top: 31px;
    }
    .header-search__input {
      display: none;
    }
    .header-search__link {
      width: 32px;
      padding-top: 1px;
    }
    .slider-1 {
      padding-bottom: 137px;
      padding-left: 49px;
    }
    .hero__title {
      width: 58%;
      padding-top: 215px;
      transform: translateX(-4px);
    }
    .hero__descr {
      width: 70%;
      padding-top: 13px;
      padding-bottom: 156px;
      margin: 0;
    }
    .about {
      padding-top: 767px;
    }
    .about__us {
      padding-top: 20px;
      padding-left: 35px;
      width: auto;
    }
    .about__us {
      padding-top: 86px;
      padding-left: 48px;
      width: 97%;
    }
    /* gallery */
  }
  @media (max-width: 994px) {
    .hero__descr {
      margin: 0;
    }
    .search--up {
      display: none !important;
    }
  }
  @media (max-width: 768px) {
    .slider-1 {
      padding-left: 49px;
    }
    .header__burger {
      margin-right: 165px;
    }
    .hero__descr {
      width: 93%;
      margin: 0;
    }
    .about__us {
      padding-left: 51px;
      width: 96%;
    }
  }
  @media (max-width: 710px) {
    .hero__title {
      font-size: 55px;
    }
    .hero__descr {
      width: 80%;
      font-size: 16px;
    }
  }
  @media (max-width: 576px) {
    .header__burger {
      display: block;
      position: relative;
      top: 4px;
      left: 10px;
      width: 29px;
      height: 21px;
      margin-right: 42px;
    }
    .nav__list-top.open-menu {
      height: 609px;
    }
    .header__btn.open-menu {
      left: 44px;
      top: 517px;
    }
    .header__burger-span {
      top: 9px;
    }
    .header__burger.open-menu:before {
      top: 10px;
    }
    .header__logo {
      width: 170px;
    }
    .header__nav-top {
      padding: 7px 0 0 0;
    }
    .header__search {
      right: 29px;
      top: 26px;
    }
    .slider-1 {
      padding-bottom: 80px;
      padding-left: 17px;
    }
    .hero__title {
      padding-top: 122px;
      font-size: 36px;
      line-height: 52px;
    }
    .hero__descr {
      width: 80%;
      padding-bottom: 43px;
      font-size: 14px;
    }
    .hero__btn {
      font-size: 14px;
    }
    .about {
      padding-top: 561px;
    }
    .about__us {
      padding-left: 20px;
      width: 100%;
      padding-top: 20px;
    }
    .about__title {
      font-size: 24px;
      line-height: 18px;
    }
    .about__text {
      font-size: 14px;
    }
  }
}
