@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSansLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansItalic.woff2") format("woff2"), url("../fonts/OpenSansItalic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansSemiBold.woff2") format("woff2"), url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-darck: #000000;
  --color-Amethyst: #9D5CD0;
  --color-Mine-Shaft: #333333;
  --color-white: #FFFFFF;
  --color-Heliotrope: #C283F3;
  --color-Royal-Purple: #7943A4;
  --color-Biloba-Flower: #D1A9F0;
}

body {
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.input__reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 15px;
  /* margin: 0 auto; */
  margin-left: 152px;
  margin-right: 159px;
  /* width: 1570px; */
  /* max-width: 1570px;*/
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

/* header */

.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}

.header__top {
  background-color: var(--color-darck);
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 27px 8px;
}

.header__nav-top {
  padding: 7px 72px 0 0;
}

.nav__list-top {
  display: flex;
}

.nav__item-top:not(:last-child) {
  margin-right: 58px;
}

.nav__link-top {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: var(--color-white);
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.nav__link-top:focus {
  outline: 1px solid var(--color-Amethyst);
}

.nav__link-top:hover {
  color: var(--color-Heliotrope);
}

.nav__link-top:active {
  color: var(--color-Royal-Purple);
}

.header__btn {
  position: relative;
  width: 6%;
  cursor: pointer;
  padding: 7px 0 0 26px;
  border: none;
  color: var(--color-white);
}

.header__btn-entrance {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: var(--color-white);
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.header__btn-entrance:focus {
  outline: 2px solid var(--color-Royal-Purple);
}

.header__btn-entrance path {
  fill: currentColor;
}

.header__btn-entrance:hover {
  color: var(--color-Heliotrope);
}

.header__btn:hover .header__btn-entrance {
  color: var(--color-Heliotrope);
}

.header__btn-entrance:active {
  color: var(--color-Amethyst);
}

/* низ навигация*/

.header__bottom {
  background: rgba(0, 0, 0, 0.4);
}

.header__nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 6px;
}

.nav__list-bottom {
  position: relative;
  display: flex;
}

.nav__bottom-link {
  padding: 9px 9px 12px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-white);
}

/* Dropdown Botton */

.dropdown {
  position: relative;
  display: flex;
  transition: opacity .3s ease-in-out;
}

.dropdown:not(:last-child) {
  margin-right: 95px;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 53px;
  background: rgba(0, 0, 0, 0.6);
  min-width: 160px;
  transition: opacity .3s ease-in-out;
}

.scroll {
  padding: 40px;
  width: 300px;
  height: 300px;
}

.dropbtn {
  padding: 0;
  padding-right: 11px;
  border: none;
  background: transparent;
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.dropbtn::after {
  content: "";
  position: relative;
  top: -2px;
  left: 6px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid var(--color-white);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  transition: border-color .3s ease-in-out;
}

.dropbtn:active::after {
  border-color: var(--color-Royal-Purple);
}

.dropbtn:active {
  outline: 1px solid var(--color-Royal-Purple);
}

.dropbtn:hover::after {
  border-color: var(--color-Amethyst);
}

.dropbtn:hover {
  color: var(--color-Amethyst);
}

.dropbtn:focus {
  color: var(--color-Royal-Purple);
}

.dropbtn:focus::after {
  border-color: var(--color-Royal-Purple);
}

.dropdown-content .nav__bottom-link:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-content .nav__bottom-link {
  color: var(--color-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .nav__bottom-link:hover {
  outline: 1px solid var(--color-Biloba-Flower);
}

.nav__bottom-image-1 {
  background-image: url(../img/header_select-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-2 {
  background-image: url(../img/header_select-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-3 {
  background-image: url(../img/header_select-3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-4 {
  background-image: url(../img/header_select-4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-5 {
  background-image: url(../img/header_select-5.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-6 {
  background-image: url(../img/header_select-6.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-7 {
  background-image: url(../img/header_select-7.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-8 {
  background-image: url(../img/header_select-8.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-9 {
  background-image: url(../img/header_select-9.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-10 {
  background-image: url(../img/header_select-10.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-11 {
  background-image: url(../img/header_select-11.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-12 {
  background-image: url(../img/header_select-12.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-13 {
  background-image: url(../img/header_select-13.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-14 {
  background-image: url(../img/header_select-14.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-15 {
  background-image: url(../img/header_select-15.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-16 {
  background-image: url(../img/header_select-16.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-17 {
  background-image: url(../img/header_select-17.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-18 {
  background-image: url(../img/header_select-18.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-19 {
  background-image: url(../img/header_select-19.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__bottom-image-20 {
  background-image: url(../img/header_select-20.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.show {
  visibility: visible;
  opacity: 1;
}

/* scroll */

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track.simplebar-vertical {
  top: 10px;
  bottom: 10px;
  right: 17px;
  width: 2px;
  background: white;
}

.simplebar-scrollbar:before {
  left: -2px;
  opacity: 1;
  background-color: var(--color-darck);
  padding-left: 4px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  opacity: 1;
}

.header__search {
  position: relative;
  display: flex;
  padding: 0;
}

.header-search__link {
  padding-right: 3px;
}

.header-search__icon {
  padding-top: 0px;
  transform: translateY(4px);
  color: var(--color-white);
  transition: color .3s ease-in-out;
}

.header-search__input {
  border-bottom: 2px solid rgba(255, 255, 255, 0.85);
  transition: border .3s ease-in-out, outline .3s ease-in-out;
}

.header-search__input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
}

.header-search__link:focus {
  outline: 2px solid var(--color-Amethyst);
}

.header-search__input:focus {
  outline: 2px solid var(--color-Amethyst);
}

.header-search__input::placeholder {
  transition: color .3s ease-in-out;
}

.header-search__link circle {
  stroke: currentColor;
}

.header-search__link path {
  fill: currentColor;
}

.header__search:hover .header-search__icon {
  color: #9D5CD0;
}

.header__search:hover .header-search__input {
  border-color: #9D5CD0;
}

/* hero */

@keyframes anim__hero {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.hero {
  position: relative;
}

.swiper-container {
  height: 800px;
}

.swiper-slide-active {
  animation: anim__hero 6s alternate ease-in-out infinite;
}

.slider-1 {
  background-image: url(../img/hero__slider-1.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.slider-2 {
  background-image: url(../img/hero__slider-2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.slider-3 {
  background-image: url(../img/hero__slider-3.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.hero__title {
  position: absolute;
  left: 158px;
  bottom: 345px;
  width: 50%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 81px;
  letter-spacing: -0.4px;
  color: var(--color-white);
  z-index: 6;
}

.hero__descr {
  position: absolute;
  left: 161px;
  bottom: 266px;
  width: 30%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
  z-index: 6;
}

.hero__btn {
  position: absolute;
  outline: none;
  border: none;
  left: 159px;
  bottom: 121px;
  padding: 23px 35px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-Amethyst);
  z-index: 6;
}

.hero__btn:active {
  padding: 20px 32px;
  border: 3px solid var(--color-Biloba-Flower);
}

.hero__btn:hover {
  background: var(--color-Amethyst);
}

.hero__btn:active {
  background: var(--color-Royal-Purple);
}

.hero__input {
  padding: 3px;
}

/* about */

.about__us {
  padding-top: 86px;
  padding-left: 160px;
  width: 1250px;
  max-width: 1250px;
  text-align: left;
}

.about__title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-Mine-Shaft);
}

.about__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-Mine-Shaft);
}

@media (max-width: 1600px) {
  .header__btn {
    padding-right: 40px;
    transform: translateX(0);
  }
  .header__btn-entrance svg {
    transform: translateX(0);
  }
  .header__search {
    left: 0;
    padding: 6px 40px 0 0;
  }
  @media (max-width: 1440px) {
    .header__nav-top {
      padding: 7px 30px 0 0;
    }
    .dropbtn {
      padding-right: 0;
    }
    .dropdown:not(:last-child) {
      margin-right: 60px;
    }
    .hero__descr {
      bottom: 230px;
    }
    .about__us {
      padding-left: 30px;
      width: 97%;
    }
  }
  @media (max-width: 1300px) {}
}

@media (max-width: 1242px) {
  .hero__descr {
    bottom: 250px;
    width: 40%;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 320px) {}
